<%- include('partials/head', {title: "Log-in"}) %>
<body>
  <%- include('partials/header') %>
  <div class="login-container">
    <div class="log-in">
      <h2>Log In</h2>
      <form class="log-in-form" action="/user/log-in" method="POST">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="username"
          value="<%= typeof username !== 'undefined' ? username : '' %>"
        />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <button class="btn-log-in">Log In</button>
      </form>
      <p>New user? <a id="sign-link" href="/user/sign-up">Sign up</a></p>

      <div class="error-msgs">
        <% if (locals.errors) {%>
        <ul>
          <% locals.errors.forEach((error) => {%>
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
        <% } %>
      </div>
    </div>
  </div>
</body>
