* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(30, 30, 30);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* To make the div below header take full remaining height */
  display: flex;
  flex-direction: column;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

nav > ul {
  /* border: 1px solid white; */
  display: flex;
  gap: 30px;
}

ul {
  list-style: none;
}

/* Header */
header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.402);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.log-in-link,
.sign-up-link,
.log-out-link {
  border: 1px solid rgba(255, 255, 255, 0.454);
  padding: 8px;
  border-radius: 4px;
}

.log-in-link:hover,
.sign-up-link:hover {
  border: 1px solid rgb(55, 199, 235);
  background-color: rgba(57, 107, 155, 0.653);
  color: rgb(55, 199, 235);
}

.log-out-link:hover {
  border: 1px solid rgba(255, 0, 0, 0.5);
  background-color: rgba(255, 0, 0, 0.33);
  color: rgba(255, 0, 0, 0.5);
}
/* Header css ends here */

/* Log-in and sign-up page style */
.login-container,
.signup-container {
  /* takes remaining height of the body */
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in-form,
.sign-up-form {
  margin: 40px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}

input {
  height: 40px;
  padding-left: 10px;
  border: 1px solid rgba(255, 255, 255, 0.454);
  border-radius: 4px;
  outline: none;
}

input:focus {
  border: 1px solid rgb(55, 199, 235);
  box-shadow: 0 0 5px rgb(55, 199, 235);
}

button {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 40px;
  width: 100px;
  border: 1px solid rgba(255, 255, 255, 0.454);
  padding: 8px;
  border-radius: 4px;
}

button:hover {
  border: 1px solid rgb(55, 199, 235);
  background-color: rgba(57, 107, 155, 0.653);
  color: rgb(55, 199, 235);
}

#sign-link,
#login-link {
  margin-left: 10px;
  text-decoration: underline;
  color: rgb(55, 199, 235);
}

#sign-link:hover,
#login-link:hover {
  color: rgb(161, 233, 250);
}

.error-msgs {
  margin-top: 30px;
}

.error-msgs > ul > li {
  color: red;
  list-style: disc;
}

/* Style for index view */
.index-container {
  padding-left: 10px;
  padding-right: 10px;
  flex-grow: 1;
  display: flex;
}

.index-sidebar {
  padding-top: 20px;
  width: 300px;
  border-right: 1px solid rgba(255, 255, 255, 0.454);
}

/* Styles for index body */
.index-body {
  padding-top: 20px;
  padding-left: 20px;
  flex-grow: 1;
}

.item-list {
  /* border: 1px solid rgba(255, 255, 2155, 0.454); */
  display: flex;
  height: 50px;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.item-box {
  border: 1px solid rgba(255, 255, 255, 0.454);
  border-radius: 4px;
  align-items: center;
}

.item-box:hover {
  border: 1px solid rgb(55, 199, 235);
  background-color: rgba(57, 107, 155, 0.653);
  color: rgb(55, 199, 235);
}

.item-box:hover p,
.item-box:hover svg {
  /* Transparent bg color */
  background-color: transparent;
  color: rgb(55, 199, 235);
  /* for svg */
  fill: rgb(55, 199, 235);
}

.item-name {
  width: 400px;
  flex-grow: 3;
  display: flex;
  align-items: center;
  gap: 8px;
}
.item-size,
.item-created {
  width: 100px;
  flex-grow: 1;
}
