body {
  /* outline: 2px solid black; */
  color: white;
  background-color: darkslategrey;
}

a:link {
  /* text-decoration: none; */
  color: white;
}

a:visited {
  /* text-decoration: none; */
  color: white;
}

a:hover {
  text-decoration: underline;
  color: yellow;
  font-weight: bold;
}
